@{
    ViewBag.Title = "_LogIn";
}

<body>

    <div class="signup-form">
        <div class="form">
            <div class="close" onclick="signupToggle()">&times;</div>
            <div class="text">
                <h2>Register Form</h2>
            </div>
            <form method="post" action="/Account/Register">
                @Html.AntiForgeryToken()

                <div class="inputBx">
                    <input id="in" type="text" name="FirstName" required placeholder="FirstName">
                    <input id="in" type="text" name="LastName" required placeholder="Last Name">
                </div>
                <div class="img1">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" />
                </div>
                <div id="img1">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" />
                </div>
                <div class="inputBx">
                    <input type="email" name="Email" placeholder="Email" required>
                    <div class="img2">
                        <img src="https://img.icons8.com/external-nawicon-glyph-nawicon/64/000000/external-email-communication-nawicon-glyph-nawicon.png" />
                    </div>
                    <input id="password" type="password" name="Password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*?&])[A-Za-z\d$!%*?&]{6,}$"
                           title="Must contain at least one number and one uppercase letter and one special character,minimum 6 characters" required >
                    <input id="confpassword" type="password" name="ConfirmPassword" placeholder="Confirm password" minlength="6"  >
                    <div class="img4">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/password--v1.png" />
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/password--v1.png" />
                    </div>
                    <div class="inputBx">
                        <input id="sub" type="submit" value="Register">
                    </div>
                    <div class="inputBx">
                        <p>ALLRADY HAVE AN ACCOUNT?<a onclick="signinToggle()" href="#">Sign in</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="login-form">
        <div class="form">
            <div class="close" onclick="loginToggle()">&times;</div>
            <div class="text">
                <h2>Login</h2>
            </div>
            <form method="post" action="/Account/Login">
                @Html.AntiForgeryToken()
                <div class="inputBx">
                    <input type="text" name="Email" placeholder="UserName">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" />
                </div>

                <div class="inputBx">
                    <input type="password" name="Password" placeholder="Password">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/password--v1.png" />
                </div>

                <label class="remeber"><input type="checkbox" value="true"  name="RememberMe">Remember me</label>

                <div class="inputBx">
                    <input id="sub" type="submit" value="Login">
                </div>
                <div class="inputBx">
                    <p>Forget<a href="#">Password</a></p>
                    <p>Dont have an account?<a onclick="registerToggle()" href="#">Sign up</a></p>
                </div>
            </form>
            <p>Login with social media</p>
            <ul class="sci">
                <li>
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </li>
                <li><img src="https://img.icons8.com/color/48/000000/twitter--v1.png" /></li>
                <li><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" /></li>
            </ul>
        </div>
    </div>




    <script>
        var password = document.getElementById("password");
        var confirmpassword = document.getElementById("confpassword");
        var message = document.getElementById("message");
        function validatePassword() {
            if (password.value != confirmpassword.value) {
                confirmpassword.setCustomValidity("Passwords Don't Match");
            }
            else {
                confirmpassword.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirmpassword.onkeyup = validatePassword;
    </script>

</body>


