
@{
    ViewBag.Title = "_SearchBar";
}

@*<div class="right-column">
    <div class="right-area">
        <div class="nav_side_content">
            <div class="search_option">
                <div id="log1" class="login-info">
                    <div id="log"><a onclick="loginToggle()" id="logi" href="#"><i class="icon fa fa-arrow-circle-down"></i>login</a></div>
                    <div id="log"><a onclick="signupToggle()" id="logi" href="#"><i class="icon fa fa-user"></i>signup</a></div>
                </div>

            </div>
        </div>
    </div>
</div>*@
