@{
    ViewBag.Title = "About Us";
}
@*@model IEnumerable<Entities.Cause>

    @{
        ViewBag.Title = "CauseIndex";
    }*@
@*.section-title {
    position: relative;
    margin-bottom: 3px;
    padding-top: :30px;
    margin-top: 61px;
}*@
<section class="page-banner" style="background-image: url('../Assets/images/ImagesSaved/4.jpg'); padding:120px 0px 195px;">
    <div class="container" style="height:80px;">
        <div class="section-title">
            <h1><span style="font-size: 48px; color: #fff;">about </span> <span style="font-style: italic;font-size: 48px; ">us</span></h1>
        </div>
    </div>
</section>
<section class="recent-causes" style="padding-top:50px;">
    <div class="section-title">
        <div class="section-title">
            <h3>MEET OUR TEAM TODAY</h3>
            <div class="meet-us" style="padding-top:50px;">
                <p style="line-height: 1.7em;">We work together, we design, we create and produce web app environments that target on improving the society efficiently.</p>
            </div>
        </div>
        <div class="breadcumb-wrapper">
        </div>
    </div>
</section>
<!--start our-team-->
<section class="our-team style-two">
        <div class="item-box">
            <div class="row d-flex justify-content-start" style="display:inline;">

                <div class="col">
                    <div class="item">
                        <div class="bg-area">
                            <div class="image-box-team" style="padding-left:50px;">
                                <img src="~/Assets/images/team/Mmpr-black.jpg" style="height:380px;width:200px; padding-bottom:20px" />
                            </div>
                            <div class="content-box">
                                <h4>Stratsianis</h4>
                                <h4>Dimitris</h4>
                                <div class="text">
                                    <p>Full Stack .Net Developer</p>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="item">
                        <div class="bg-area">
                            <div class="image-box-team" style="padding-left:50px;">
                                <img src="~/Assets/images/team/Mmpr-blue.jpg" style="height:380px;width:200px; padding-bottom:20px" />
                            </div>
                            <div class="content-box">
                                <h4>Mihailidis</h4>
                                <h4>Giannis</h4>
                                <div class="text">
                                    <p>Full Stack .Net Developer</p>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="bg-area">
                            <div class="image-box-team" style="padding-left:50px;">
                                <img src="~/Assets/images/team/Mmpr-red.jpg" style="height: 380px; width: 200px; padding-bottom: 20px" />
                            </div>
                            <div class="content-box">
                                <h4>Karakasidis</h4>
                                <h4>Ioannis</h4>
                                <div class="text">
                                    <p>Full Stack .Net Developer</p>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="bg-area">
                            <div class="image-box-team" style="padding-left:50px;">
                                <img src="~/Assets/images/team/yellow.jpg" style="height:380px;width:200px; padding-bottom:20px" />
                            </div>
                            <div class="content-box">
                                <h4>Theofilaktidou</h4>
                                <h4>Niki</h4>
                                <div class="text">
                                    <p>Full Stack .Net Developer</p>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="bg-area">
                            <div class="image-box-team" style="padding-left:50px;">
                                <img src="~/Assets/images/team/greenranger.jpg" style="height:380px;width:200px; padding-bottom:20px" />
                            </div>
                            <div class="content-box">
                                <h4>Likos</h4>
                                <h4> Costas</h4>
                                <div class="text">
                                    <p>Full Stack .Net Developer</p>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   

</section>
<!--end our-team-->
