@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@


<section class="contact_details">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item center">
                    <div class="icon_box">
                        <span class="fa fa-object-ungroup"></span>
                    </div>
                    <h4>Drop Us A Line</h4>
                    <div class="text">
                        <p>If you find yourself in a tough spot or know someone who does, let us know!</p>
                        <h5><a style="color:red;" href="mailto:charitysympathyteam@gmail.com">charitysympathyteam@gmail.com</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item center">
                    <div class="icon_box">
                        <span class="fa fa-user"></span>
                    </div>
                    <h4>Commercial</h4>
                    <div class="text">
                        <p>We are gladly recieving offers for collaboration. Send us an email!</p>
                        <h5><a style="color:red;" href="mailto:charitysympathyteam@gmail.com">charitysympathyteam@gmail.com</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item center">
                    <div class="icon_box">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <h4>Visit Our Office</h4>
                    <div class="text">
                        <p>Visit us at Karaoli Dhmhtriou 48, Athens, Greece. Come say HI!</p>
                        <h5>(+30) 010 990 0000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <!--Google map-->
        <div id="" class="z-depth-1-half map-container-3" >
            <iframe 
               src="https://www.google.com/maps/embed/v1/place?q=place_id:Ei5LYXJhb2xpIGtlIERpbWl0cmlvdSA0OCwgUGlyZWFzIDE4NSAzMiwgR3JlZWNlIlASTgo0CjIJ9eJxye67oRQR1DebOgaA1twaHgsQ7sHuoQEaFAoSCZXNHh_su6EUEUAWbSAwvQAcDBAwKhQKEgkFaTs16buhFBFhURhNHFhHuw&key=AIzaSyCOqmd_RyEPyEd7LEpTGeATAyR9fqBt5WE" 
               frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
        <div class="map-address">
            <div>
                <img src="~/Assets/css/map-rolund.jpg" />
                Karaoli Dhmhtriou 48, Athens
            </div>
        </div>
    </div>
</section>
<section class="contact_us">
    <div class="container">
        <div class="section-title text-center">
            <h2>Leave us a message</h2>
        </div>
        <div class="default-form-area">
            <form id="contact-form" name="contact_form" class="default-form" method="POST">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="form-group">
                            <input id="reqname" type="text" name="form_name" class="form-control" value="" placeholder="Your Name" required="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input id="reqmail" type="email" name="form_email" class="form-control required email" value="" placeholder="Your Mail" required="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input style="background-color:#fff" type="number" name="form_phone" class="form-control" value="" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <input type="text" name="form_subject" class="form-control" value="" placeholder="Subject">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <textarea id="reqmessage" name="form_message" class="form-control textarea required" placeholder="Your Message...."></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">

                            <button id="butt" onclick="document.getElementById('id01').style.display='block'" class="thm-btn" type="submit" data-loading-text="Please wait..." disabled>send message</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    document.getElementById("contact-form").addEventListener("keyup", function () {
        var name = document.getElementById('reqname').value;
        var mail = document.getElementById('reqmail').value;
        var message = document.getElementById('reqmessage').value;
        if (name !== '' && mail !== '' && message !== '') {
            document.getElementById('butt').removeAttribute("disabled");
        } else {
            document.getElementById('butt').setAttribute("disabled", null);
        }
    });
</script>


