<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="fade">
                    <img src="~/Assets/images/missions/zmp.jpg" alt="" width="1920" height="882" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <div class="tp-caption  tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="top" data-voffset="300"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="700">
                        <div class="slide-content-box">
                            <h4>Thousand of children are waiting for help!</h4>
                            <h1>help the <span>poor</span> people</h1>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque la<br>udantium, totam rem aperiam eaque ipsa, quae ab illo inventore </p>
                        </div>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="top" data-voffset="500"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="2300">
                        <div class="slide-content-box">
                            <div class="button">
                                <a class="thm-btn" href="#">join with us today</a>
                            </div>
                        </div>
                    </div>

                </li>

                <li data-transition="fade">
                    <img src="~/Assets/images/missions/zmp.jpg" alt="" width="1920" height="882" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset=""
                         data-y="center" data-voffset="-70"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="500">
                        <div class="slide-content-box center">
                            <h4>Thousand of children are waiting for help!</h4>
                            <h1>help the <span>poor</span> people</h1>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque la<br>udantium, totam rem aperiam eaque ipsa, quae ab illo inventore </p>
                        </div>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="80"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="1500">
                        <div class="slide-content-box">
                            <div class="button">
                                <a class="thm-btn" href="#">join with us today</a>
                            </div>
                        </div>
                    </div>

                </li>

                <li data-transition="fade">
                    <img src="~/Assets/images/missions/zmp.jpg" alt="" width="1920" height="882" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">


                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset=""
                         data-y="center" data-voffset="-70"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="500">
                        <div class="slide-content-box center">
                            <h4>Thousand of children are waiting for help!</h4>
                            <h1>help the <span>poor</span> people</h1>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque la<br>udantium, totam rem aperiam eaque ipsa, quae ab illo inventore </p>
                        </div>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="80"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="1500">
                        <div class="slide-content-box">
                            <div class="button">
                                <a class="thm-btn" href="#">join with us today</a>
                            </div>
                        </div>
                    </div>

                </li>


            </ul>
        </div>
    </section>
    <!--TEST PROGRESSING BAR-->
    <section class="urgent-cause">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-md-offset-1">
                    <div class="urgent-cause-slide">

                        <div class="item">

                            <div class="clearfix bg-area">

                                <div id="imgdi" class="content">
                                    <img id="imgkat" src="~/Assets/images/missions/pr.jpg" alt="" />
                                    <div id="kati2">

                                        <div id="logia"><h4 style="color: black;">Helping for <span style="color: red">education</span> to syrian <br>child & <span style="color: red">food planting</span></h4></div>

                                        <div id="kati3">
                                            <div>

                                                <div id="kati4">
                                                    <svg class="tama">
                                                        <circle cx="70" cy="70" r="70"></circle>
                                                        <circle cx="70" cy="70" r="70"></circle>
                                                    </svg>

                                                    <div id="kati5">
                                                        <h2>90<span>%</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div id="lett" class="donate-price"><b>$44,210</b>&nbsp;  Raised of <span id="lett1">$99,541</span> Goal</div>

                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="clearfix bg-area">

                                <div id="imgdi" class="content">
                                    <img id="imgkat" src="~/Assets/images/missions/ph.jpg" alt="" />

                                    <div id="kati2">
                                        <div id="logia"><h4 style="color: black;">Helping for <span style="color: red">education</span> to syrian <br>child & <span style="color: red">food planting</span></h4></div>
                                        <div id="kati3">
                                            <div>
                                                <div id="kati4">
                                                    <svg class="tama">
                                                        <circle cx="70" cy="70" r="70"></circle>
                                                        <circle cx="70" cy="70" r="70"></circle>

                                                    </svg>

                                                    <div id="kati5">
                                                        <h2>70<span>%</span></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="lett" class="donate-price"><b>$44,210</b>&nbsp;  Raised of <span id="lett1">$99,541</span> Goal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--EMD TEST-->

    <section class="our-missions">
        <div class="container">
            <div class="section-title">
                <div id="kati6"><a id="lod" href="/Cause/CauseIndex">donate now</a></div>
                <h1>our <span>missions</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            </div>
            <div class="item-box">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/1.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>Donation</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/2.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>volunteers</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/3.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>fundraising</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="features">
        <div class="container">
            <div class="item-list">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item">
                            <div class="section-title">

                                <h1>WHERE <span> MONEY </span> GOES</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                            </div>
                            <div class="content-box">
                                <ul class="default-list">
                                    <li><i class="flaticon-check-mark-square-button"></i><span>60% </span>money goes for <span>Food Donation</span> in <span>Syria</span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>35%</span> money goes for <span>Educational Fund </span>in <span>Bihar</span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>15%</span> money goes for <span>Health Donation </span>in <span>Bangladesh</span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>20% </span>money goes for <span>Building house </span>for shelter</li>
                                </ul>
                                <div class="link"><a href="#" class="thm-btn">JOIN TODAY</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/feature/4.png" alt="">
                            </div>
                            <ul class="list">
                                <li><i class="icon flaticon-stop"></i>Food Donation</li>
                                <li><i class="icon flaticon-stop"></i>Educational Fund</li>
                                <li><i class="icon flaticon-stop"></i>Health Donation</li>
                                <li><i class="icon flaticon-stop"></i>Building Shelter</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>



    <!--start parallax-sec-one-->
    <section class="parallax-sec-one">
        <div class="container">
            <div class="section-title">
                <h1>we help many people</h1>
                <h4>want to become a <span>volunteer!</span></h4>
            </div>
            <div class="content-box text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <div class="link"><a href="single-cause.html" class="thm-btn">Apply now</a></div>
        </div>
    </section>
    <!--end parallax-sec-one-->
    <!--start our-team-->
    <section class="our-team">
        <div class="container">
            <div class="section-title">
                <h5>meet our team to help today</h5>
                <h1>our<span> volunteer</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            </div>

            <div class="item-box">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="bg-area">
                                <div class="image-box">
                                    <img src="~/Assets/images/missions/per.jpg" alt="" />
                                </div>
                                <div class="content-box">
                                    <h4>Dr. Adam Chohan</h4>
                                    <div class="progress-levels">
                                        <!--Skill Box-->
                                        <div class="progress-box">
                                            <div class="inner">
                                                <div class="bar">
                                                    <div class="bar-innner">
                                                        <div class="bar-fill" data-percent="70"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do edu.</p>
                                    </div>
                                    <ul class="social">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                        <li><a href="#"><span class="fa fa-behance"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="bg-area">
                                <div class="image-box">
                                    <img src="~/Assets/images/missions/person2.jpg" alt="" />
                                </div>
                                <div class="content-box">
                                    <h4>Prof. Fredric Roman</h4>
                                    <div class="progress-levels">
                                        <!--Skill Box-->
                                        <div class="progress-box">
                                            <div class="inner">
                                                <div class="bar">
                                                    <div class="bar-innner">
                                                        <div class="bar-fill" data-percent="79"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do edu.</p>
                                    </div>
                                    <ul class="social">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                        <li><a href="#"><span class="fa fa-behance"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="bg-area">
                                <div class="image-box">
                                    <img src="~/Assets/images/missions/person3.jpg" alt="" />
                                </div>
                                <div class="content-box">
                                    <h4>Dr. Adam Chohan</h4>
                                    <div class="progress-levels">
                                        <!--Skill Box-->
                                        <div class="progress-box">
                                            <div class="inner">
                                                <div class="bar">
                                                    <div class="bar-innner">
                                                        <div class="bar-fill" data-percent="70"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do edu.</p>
                                    </div>
                                    <ul class="social">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                        <li><a href="#"><span class="fa fa-behance"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="bg-area">
                                <div class="image-box">
                                    <img src="~/Assets/images/missions/person4.jpg" alt="" />
                                </div>
                                <div class="content-box">
                                    <h4>Sara Lian</h4>
                                    <div class="progress-levels">
                                        <!--Skill Box-->
                                        <div class="progress-box">
                                            <div class="inner">
                                                <div class="bar">
                                                    <div class="bar-innner">
                                                        <div class="bar-fill" data-percent="36"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do edu.</p>
                                    </div>
                                    <ul class="social">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                        <li><a href="#"><span class="fa fa-behance"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="bg-area">
                                <div class="image-box">
                                    <img src="~/Assets/images/missions/person5.jpg" alt="" />
                                </div>
                                <div class="content-box">
                                    <h4>Sara Lian</h4>
                                    <div class="progress-levels">
                                        <!--Skill Box-->
                                        <div class="progress-box">
                                            <div class="inner">
                                                <div class="bar">
                                                    <div class="bar-innner">
                                                        <div class="bar-fill" data-percent="36"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do edu.</p>
                                    </div>
                                    <ul class="social">
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                                        <li><a href="#"><span class="fa fa-behance"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--end our-team-->




</body>
</html>