@model Entities.Cause

@{
    ViewBag.Title = "CauseDetails";
}


<section class="page-banner" style="padding-top: 100px; padding-bottom: 10px; background-image: url('../Assets/images/ImagesSaved/single-cause.jpg'); ">
    <div class="container" style="height:100px;">
        <div class="section-title">
            <h1>Cause <span>Details</span></h1>
        </div>
        <div class="section-title">
            <h5>Joion us on our Cause</h5>
            <div class="meet-us">
                <p style="line-height: 1.7em;">Here are soem more details about the cause you're chacking out.</p>
                <p style="line-height: 1.7em;">By joining us on a Cause you are helping the team reach those who need help faster and saves lives from danger.</p>
            </div>
        </div>
        <div class="breadcumb-wrapper">
        </div>
    </div>
</section>

    <section class="single-event">
        <div class="container s-cause">
            <h4 style="display:center;">Cause Details</h4>
            <figure class="image-box">
                <img src="images/event/8.jpg" alt="" />
            </figure>
            <div class="content-box">

                <hr />
                @if (Model.Photo == null)
                {
                    <div style="display:hidden"></div>
                }
                else
                {
                    <div style="display: flex; justify-content: center;overflow: hidden;">
                        <img id="imgDetails" src="~/Assets/images/ImagesSaved/@Model.Photo" />
                    </div>
                }

                @*<div class="icon-box">
                        <img style="object-fit: cover;" src="~/Assets/images/ImagesSaved/@Model.Photo" />
                    </div>*@
                <div class="title">
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                </div>
                <div class="text">
                    <p>@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="donate-price"><b>@Html.DisplayFor(model => model.CurrentAmmount)€ </b>&nbsp; Raised of  <span> @Html.DisplayFor(model => model.TargetGoal)€ </span> Goal</div>
                <a class="thm-btn style-1" href="javascript:history.go(-1)"> Back to List </a>
            </div>
        </div>
    </section>

