@model Entities.Cause

@{
    ViewBag.Title = "CauseDetails";
}

<div>
    <section class="single-event">
        <div class="container">
            <h4 style="display:center;">Cause Details</h4>
            <hr />
            <figure class="image-box">
                <img src="images/event/8.jpg" alt="" />
            </figure>
            <div class="content-box">

                <hr />
                <div style="display: flex; justify-content: center;overflow: hidden;">
                    <img style="border-radius: 100px; height: 200px; width: 800px; object-fit: cover;" src="~/Assets/images/ImagesSaved/@Model.Photo" />
                </div>

                @*<div class="icon-box">
            <img style="object-fit: cover;" src="~/Assets/images/ImagesSaved/@Model.Photo" />
        </div>*@
                <div class="title">
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                </div>
                <div class="text">
                    <p>@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="donate-price"><b>@Html.DisplayFor(model => model.CurrentAmmount)€ </b>&nbsp; Raised of  <span> @Html.DisplayFor(model => model.TargetGoal)€ </span> Goal</div>
                <a class="thm-btn style-1" href="javascript:history.go(-1)"> Back to List </a>
            </div>
        </div>
    </section>
</div>
