@model Entities.Event

@{
    ViewBag.Title = "CreateEvent";
}

<div class="default-form-area"  style="display: flex; justify-content: center">
    <form id="contact-form" name="contact_form" class="default-form" action=@Url.Action("CreateEvent","Event") method="post">
        <br />
        <div class="row clearfix" style="justify-content: center">
            <h1 style="justify-content:center">Creating Event</h1>
            <div class="col-md-8 col-sm-12 col-xs-6">
                <div class="form-group">
                    <input type="text" name="Title" class="form-control" value="" placeholder="Event Title" required="">
                </div>
                <div class="form-group">
                    <input type="text" name="Description" class="form-control" value="" placeholder="Event Description" required="">
                </div>
                <div class="form-group">
                    <input type="text" name="Address" class="form-control" value="" placeholder="Event Address" required="">
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" value="" placeholder="Event Date" required="">
                </div>
                <div class="form-group">
                    <input type="image" name="Photo" class="form-control" value="" placeholder="Event Photo">
                    @*MUST FIX IMAGE INPUT*@
                </div>
                <br />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                    <button class="thm-btn" type="submit" data-loading-text="Please wait...">CREATE</button>
                </div>
            </div>
        </div>
    </form>
</div>