@model Entities.Event

@{
    ViewBag.Title = "EventDetails";
}

<section class="all-event">
    <div class="container">
        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">
                    <div class="content-box">

                        <h3>@Model.Title</h3>
                        <br />
                        <br />
                        <ul class="event-info">
                            <li><span class="fa fa-calendar"></span>@Model.EventDate.ToLongDateString()</li>
                            <li> &emsp; <span class="fa fa-map-marker"></span>@Model.Address</li>

                        </ul>
                        <div class="text">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>