@model IEnumerable<Entities.Event>

@{
    ViewBag.Title = "OrganizeEvents";
}


<!--Organize -event-->
<section class="all-event">
    <div class="container">
        <div class="section-title">
            <h5>going to raise humanity</h5>
            <h1>organize <span>event</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>


        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">

                    <div>
                        <button type="button" style="background-color:crimson"> Create an Event </button>
                    </div>
                    @foreach (var eve in Model)
                    {

                        <div class="content-box">

                            <h3>@eve.Title</h3>
                            <ul class="event-info">
                                <li><span class="fa fa-calendar"></span> @eve.EventDate.ToLongDateString()</li>
                                <li> &emsp; <span class="fa fa-map-marker"></span>@eve.Address</li>
                                <li>  <button type="button" style="background-color:crimson">Edit Event</button></li>
                                <li>  <button type="button" style="background-color:crimson">Delete Event</button></li>
                            </ul>

                            <div class="text">
                                <p>@eve.Description</p>
                            </div>


                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

@*@section scripts{

        }

    `<div class="content-box">
        <div class="title-area">
            <div class="date">18<br><span>jan</span></div>
            <h3><a href="#">Going for <span>Food Donation</span></a></h3>
            <ul class="event-info">
                <li><span class="fa fa-calendar"></span>&ensp; January 18, 2017&ensp; - </li>
                <li><span class="fa fa-clock-o"></span>&ensp; 5;00 pm&ensp; -</li>
                <li><span class="fa fa-map-marker"></span>&ensp; NewDelhi, IN</li>
            </ul>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.empor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.</p>
        </div>
    </div>*@